/DaticalDB_Test/Logs/
/DaticalDB_Test/Reports/
/DaticalDB_Test/Snapshots/
/DaticalDB_Test/Profiles/
/DaticalDB_Test/.project
/DaticalDB_Test/.classpath
/DaticalDB_Test/.metadata
/DaticalDB_Test/.reporttemplates
/DaticalDB_Test/daticaldb.properties
/DaticalDB_Test/daticaldb*.log
/DaticalDB_Test/*.zip